<ul>
  <% @property.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_for @property, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :property_type_id %>
    <%= f.collection_select(:property_type_id, @property_types, :id, :name, {}, { class: 'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.label :region_id %>
    <%= f.collection_select(:region_id, @regions, :id, :name, {}, { class: 'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.label :rent_purpose %>
    <%= f.text_field :rent_purpose, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :area %>
    <%= f.number_field :area, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :room_quantity %>
    <%= f.number_field :room_quantity, class: 'form-control' %>
  </div>
  <div class="form-check">
    <%= f.check_box :accessibility, class: 'form-check-input' %>
    <%= f.label :accessibility, 'Possui acessibilidade', class: 'form-check-label' %>
  </div>
  <div class="form-check">
    <%= f.check_box :allow_pets, class: 'form-check-input' %>
    <%= f.label :allow_pets, 'Aceita animais', class: 'form-check-label' %>
  </div>
  <div class="form-check">
    <%= f.check_box :allow_smokers, class: 'form-check-input' %>
    <%= f.label :allow_smokers, class: 'form-check-label' %>
  </div>
  <div class="form-group">
    <%= f.label :maximum_guests %>
    <%= f.number_field :maximum_guests, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :minimum_rent%>
    <%= f.number_field :minimum_rent, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :maximum_rent %>
    <%= f.number_field :maximum_rent, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :daily_rate %>
    <%= f.number_field :daily_rate, step: 0.01, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :main_photo %>
    <%= f.file_field :main_photo %>
  </div>
  <div class="form-group">
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  <% end %>
