<h1>Cadastro de proposta</h1>

<ul>
  <% @proposal.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_for @proposal, url: property_proposals_path do |f| %>
  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.text_field :end_date %>
  </div>
  <div class="form-group">
    <%= f.label :rent_purpose %>
    <%= f.text_field :rent_purpose %>
  </div>
  <div class="form-group">
    <%= f.label :total_guests %>
    <%= f.text_field :total_guests %>
  </div>
  <div class="form-check">
    <%= f.check_box :pet %>
    <%= f.label :pet %>
  </div>
  <%= f.submit 'Enviar proposta' %>
<% end %>