<!DOCTYPE html>
<html>
  <head>
    <title>AlugaTemporada</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if realtor_signed_in? %>
      <%= current_realtor.email %> - <%= link_to('Sair', destroy_realtor_session_path, method: :delete) %>
      
    <% elsif user_signed_in? %>
      <h2><%= current_user.email %></h2>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to('Entrar como corretor', new_realtor_session_path) %>
      <br />
      <%= link_to 'Entrar como cliente', new_user_session_path %>
    <% end %>
    <%= render partial: 'shared/nav_bar' %>
    <div class="container">
      <p><%= flash[:success] %></p>
      <p><%= flash[:notice] %></p>
      <p><%= flash[:alert] %></p>
      <%= yield %>
    </div>
  </body>
</html>
